.purple-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 5%;
}
section{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    
}
.half-width img{
    width: 60%;
    margin-left: 10%;    
}
#text{
    text-align: center;
    font-size: 38px;
    padding: 20px 10px;

}
body{
    margin: 0;
}
.half-width h3{
    font-weight: 400;
    font-size: 22;
}
.half-width p{
    font-size: 18px;
    text-align: justify;
    margin-left: 18%;
}
